<% include partials/header %>          
                  
                                              
                        
                    
                <div class="container" style="padding-top:100px;">
                <header class="jumbotron">
                <h1 style="text-align:center;">LOG IN</h1>
                </header>
                </div>
                <div class="container" style="width: 30%; margin:0 auto; background:#e9ecef; padding:50px;" >
<form action="/login" method="POST">
        <div class="form-group">
        <input class="form-control" type="text" name=username placeholder="username">
        </div>
        <div class="form-group">
        <input class="form-control" type="password" name="password" placeholder="password">
        </div>
        <div class="form-group">
        <button class="btn btn-large btn-primary btn-block">Login !</button>
        </div>
</form>
                </div>
                
              <div style="padding:30px;"></div>

           </body>
</html>



